<!DOCTYPE html>
<html>
<head>
<title>ACME Online Superstore</title>
<style>
* { font-family: sans-serif; }
body { background-color: #ffff7f; }
</style>
</head>
<body>
<h1>Welcome to ACME Online Superstore!</h1>
<h3>We sell everything - you'll find something you want here!</h1>
<img src="souk-1627045_640.jpg" />
<h2>BTW, this server assigned you UUID {{uid}}</h2>
</body>
</html>
