<!DOCTYPE html>
<html>
<head>
<title>Weddings R Us</title>
<style>
* { font-family: serif; }
body { background-color: #ff7f7f; }
</style>
</head>
<body>
<h1>Welcome to Weddings R Us!</h1>
<h3>Buy flowers like this from us!</h1>
<img src="rose-3189198_640.jpg" />
<h2>BTW, this server assigned you UUID {{uid}}</h2>
</body>
</html>
